.catalog__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 30px;
  background: var(--palette-sky-500);
  border-radius: 20px;
}

.catalog__header {
    margin-bottom: 0;
}

.catalog__title {
  color: var(--text-inverse);
}

.catalog__subtitle {
  color: var(--text-inverse);
}

.catalog__searchBar {
    width: 200px;
    height: 30px;
    padding: 5px;
}
