.btn {
  --_bg: var(--btn-bg, transparent);
  --_text: var(--btn-text, var(--text-display));
  --_border: var(--btn-border, transparent);

  --_hover-bg: var(--btn-hover-bg, transparent);
  --_hover-text: var(--btn-hover-text, var(--_text));
  --_hover-border: var(--btn-hover-border, var(--_border));

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-sm) var(--space-lg);
  font-weight: 600;
  color: var(--_text);
  letter-spacing: 1px;
  text-decoration: none;
  cursor: pointer;
  background-color: var(--_bg);
  border: 2px solid var(--_border);
  border-radius: 8px;
  transition: all 0.2s ease;
}

.btn:hover {
  color: var(--_hover-text);
  background-color: var(--_hover-bg);
  border-color: var(--_hover-border);
}

.btn--primary {
  --btn-bg: var(--palette-sky-500);
  --btn-text: var(--text-inverse);
  --btn-hover-bg: var(--palette-sky-600);
}

.btn--secondary {
  --btn-text: var(--palette-sky-500);
  --btn-border: var(--palette-sky-500);
  --btn-hover-bg: var(--palette-sky-500);
  --btn-hover-text: var(--text-inverse);
  --btn-hover-border: var(--palette-sky-500);
}

.btn--danger {
  --btn-bg: var(--palette-red-500);
  --btn-text: var(--text-inverse);
  --btn-hover-bg: var(--palette-red-600);
}
