.page-header {
    margin-bottom: var(--space-xl);
}

.page-header__title {
    font-family: var(--font-display);
    font-size: var(--text-lg);
    color: var(--text-display);
}

.page-header__subtitle {
    color: var(--text-body);
}