.recipe-card {
  --card-radius: clamp(1.2rem, 0.971rem + 0.714vw, 2rem);
  --card-padding: clamp(var(--space-sm), 1.371rem + 0.714vw, var(--space-md));

  display: flex;
  flex-direction: column;
  padding: var(--card-padding);
  border-radius: var(--card-radius);
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.2);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.recipe-card:hover {
  box-shadow: 6px 6px 10px 3px rgba(0, 0, 0, 0.15);
  transform: scale(1.01);
}

.recipe-card__image {
  height: clamp(18rem, 16.286rem + 5.357vw, 24rem);
  margin-bottom: var(--space-sm);
  object-fit: cover;
  border-radius: clamp(0.6rem, 0.429rem + 0.536vw, 1.2rem);
}

.recipe-card__image--fallback {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--palette-ink-500);
  background-color: var(--palette-cream-300);
}

.recipe-card__content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.recipe-card__title {
  font-family: var(--font-display);
  color: var(--text-display);
}

.recipe-card__subtitle {
  margin-top: var(--space-xs);
}

.recipe-card__btn {
  --btn-text: var(--palette-ink-500);
  --btn-bg: transparent;
  --btn-border: transparent;
  --btn-hover-bg: transparent;

  position: relative;
  z-index: 1;
  align-self: flex-end;
  padding: var(--space-sm);
  margin-top: auto;
}

.recipe-card__btn--favorite {
  --btn-text: var(--palette-red-500);
}

.recipe-card__btn--favorite .recipe-card__icon {
  fill: currentColor;
  animation: heart 0.2s ease;
}

.recipe-card__btn--favorite::after {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  width: 100%;
  height: 100%;
  pointer-events: none;
  content: "";
  background-color: var(--palette-red-500);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: fade 0.4s ease-out forwards;
}

@keyframes heart {
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fade {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0.4;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
  }
}
